In [5]:
import pandas as pd

dataset = pd.DataFrame([4,2,5,6,3,8,7,9])

dataset.mode()

   0
0  2
1  3
2  4
3  5
4  6
5  7
6  8
7  9